a {
  color:brown;
}

footer {
  text-align: center;
}

h2 {
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}

.App {
  background-image: url("./imgs/bg-pattern.svg");
  font-family: "Manrope", sans-serif;
  margin: 0 auto;
  max-width: 1440px;
}

.header {
  background-image: url("./imgs/pattern-circles.svg");
  background-position: 645px 60px;
  background-repeat: no-repeat;
  background-size: 150px;
  color: hsl(227, 35%, 25%);
  padding: 100px 0 50px;
}

.grey-text {
  color: hsl(225, 20%, 60%);
  font-size: 15px;
  text-align: center;
}